playwright==1.48.0
streamlit==1.51.0
ollama==0.3.3
rich==13.9.4
tqdm==4.66.5
jinja2==3.1.4
pypdf==5.1.0
requests==2.32.3
beautifulsoup4==4.12.3

langchain==0.3.2
langchain-community==0.3.1
langchain-core==0.3.12
langchain-ollama==0.2.0
langchain-openai==0.2.2
langsmith==0.1.137
langchain-text-splitters==0.3.0